@CHARSET "ISO-8859-1";

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

/*
	Fix margin and padding on container-fluid
*/
* {
	margin: 0;
	padding: 0;
}

body {
	/* Default Font */
	font-family: 'Roboto Condensed', sans-serif;
}

p {
	font-size: 1.3em;
}

.grey-background {
	background-color: #999;
}

.white-background {
	background-color: #FFF;
}

.green-background {
	background-color: #16a085;
}

.navbar {
	margin: 0 auto;
	border: 0;
	background-color: #FFF;
}

.navbar-nav li a {
	transition: all 0.2s;
}

.navbar-nav li a:active, .navbar-nav li a:hover {
	background-color: #16a085 !important;
	color: #FFF !important;
	box-shadow: inset 0 0 0 5px #FFF;
}

.link-text {
	margin: 0;
	padding: 0;
}

.header-btn {
	width: 100px;
	height: 50px;
	border: 1px solid #000;
	background-color: transparent;
	color: #FFF !important;
	transition: all 0.2s ease-in-out;
}

.header-btn:hover, .header-btn:active {
	background-color: #fff;
	color: #000 !important;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
	transform: scale(1.05);
}

button {
	display: inline;
}

.jumbotron {
	/*
	border-top: 1px solid #2980b9;
	border-bottom: 1px solid #2980b9;
	*/
	/*
	background-image: url(http://www.publicdomainpictures.net/pictures/50000/nahled/dna-1370603787LgY.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	*/
	background-color: #16a085;
	color: #fff;
	margin: 0 auto;
}

.container-fluid {
	margin: 0px;
	margin-top: 25px;
	padding-left: 25px;
	padding-right: 25px;
}

title {
	font-weight: bolder;
}

h2 {
	font-size: 1.9em;
}

h4 {
	font-size: 1.6em;
}

textarea {
	resize: both;
	overflow: auto;
}

.padded {
	margin: 25px auto !important;
}

.input-center {
	text-align: center;
	margin: 0 auto;
}

table {
	border: 1px solid #999;
}

a {
	color: #16a085;
	text-decoration: none;
	transition: all 0.1s ease-in-out;
}

a:hover, a:active, a:visited, a:link {
	color: #16a085;
	text-decoration: none;
	font-weight: 500;
}

a:hover {
	color: #9f60b9 !important;
	transform: scale(1.01);
}

.pointer {
	cursor: pointer;
}

.fa-icon {
	font-size: 150% !important;
}

.media-tools {
	background-color: red !important;
}

.navbar-icon {
	font-size: 90%;
}
